* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body {
    font-family: sans-serif;

}


.square{     
    width: calc(100% / 10);
    aspect-ratio: 1;

}

.square2 {     
    width: calc(100% / 9);
    aspect-ratio: 1;


}

.square3 {     
    width: calc(100% / 7);
    aspect-ratio: 1;

}

.square.active {
    background-color: lightblue;
    
}

.col{
    background-color: red;
    border: 1px solid black;
}

.my_container{
    max-width: calc(1000px);
}
